:root {
    --cerebra-green: #4D635E;
    --cerebra-background-dark: #292929;
    --cerebra-beige: #FBF0E3;
    --cerebra-brown: #6E5F4F;
    --text-color: #ffffff;
    --max-box-width: 1000px;
    --max-green-box: 320px;
    --border-radius: 20px;
    --radius-button: 50px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--cerebra-background-dark);
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    /* font-size: 20px; */
    font-weight: 300;
    /* font-size: smaller; */
    line-height: 1.4;
    height: auto;
    min-height: 1500px;
  }
  
  h1,
  h2,
  h3 { 
    font-family: "Montserrat Light";
    color: var(--primary-color);
    line-height: 1.2;
    text-align: left;
    font-weight: 300;
  }
  
  h1 {
    font-size: 50px;
    margin-top: 0;
   
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 30px;
  }

  .roboto-mono {
    font-family: Roboto Mono;
  }

  .e {
    font-family: "Montserrat Light";
  }

  p {
    margin: 10px auto 25px auto;
  }
  
  a {
    color: var(--primary-link-color);
    text-decoration: none;
  }
  
  a:visited {
    color: var(--primary-link-color);
    /* text-decoration: underline; */
  }
  
  a:hover,
  a:focus {
    /* Hover state - focus takes care of highlighting when someone uses keyboard to navigate */
    color: var(--secondary-link-color);
    /* text-decoration: underline; */
    transition: ease-in 0.3s;
  }
  
  a:active {
    /* selected link, current page */
    color: var(--secondary-link-color);
    /* text-decoration: underline; */
  }
  
  .typewriter {
    font-family: "Roboto Mono", monospace;
    color: white;
    font-size: 18px;;
    /* border-right: 0.15em solid orange; */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.typewriter-text {
    animation: blink-caret 0.75s step-end infinite;
}


  .page-header {
    display: flex;
    flex-direction: row;
    max-width: var(--max-box-width);
    padding: 10px;
    margin: 0 auto;
  }
  
  .page-header__item {
    flex: 0 1 50px;
  }
  
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
  
  .navigation-list {
    list-style-type: none;
  }
  
  .navigation-list li {
    display: inline-block;
    margin-left: 5px;
  }
  
  .navigation-list__item--active {
    text-decoration: underline;
    color: var(--primary-color);
  }
  
  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--primary-link-color);
    margin-bottom: 30px;
  }
  
  .container {
    max-width: var(--max-box-width);
    min-width: 280px;
    height: auto;
    margin: 25px auto 25px auto;
    background-color: var(--cerebra-green);
    border-radius: var(--border-radius);
    padding: 30px;
    /* box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3); */
  }

  .headline {
    max-width: var(--max-box-width);
    min-width: 280px;
    height: auto;
    margin: auto;

  }

  .green_img 
  .green_text {
    display: grid;
    flex-direction: column;
    max-width: var(--max-green-box);
    min-width: 150px;
    height: auto;
    
  }

  .green_img img {
    max-width: 100%;
    border-radius: var(--border-radius);
  }

  .box-body-text {
    text-align: left;
    padding-bottom: 50px;
    font-size: 20px;
  }
  .box-extra-text {
    font-family: "Roboto Mono";
    text-align: left;
    font-size: 20px;
  }

  
  /* ---------------- GRIDS ------------------ */
  .green_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
   
  }
  
  
  button,
  .button {
  
    border: none;
    min-width: 80px;
    font-family: inherit;
    font-size: smaller;
    background-color: var(--cerebra-green);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: var(--radius-button);
  }

  .button__secondary {
    border: none;
    min-width: 80px;
    font-family: inherit;
    font-size: smaller;
    background-color: var(--cerebra-brown);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: var(--radius-button);
  }

  .button__black {
    border: none;
    min-width: 80px;
    font-family: inherit;
    font-size: smaller;
    background-color: var(--cerebra-background-dark);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: var(--radius-button);
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus,
  .button__secondary:hover,
  .button__secondary:focus,
  .button__black:hover,
  .button__black:focus {
    cursor: pointer;
    background-color: var(--cerebra-beige);
    color: var(--cerebra-background-dark);
    transition: ease-in 0.3s;
  }
  
  
  .form {
    display: block;
    max-width: 500px;
    padding: 20px;
    margin: 0 15px 15px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--primary-link-color);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  
  /* MEDIA QUERIES */

   /* MOBILE DEVICES */
  @media all and (max-width: 500px) {
    .container {
        margin: 25px 15px;
       }

    .green_box {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-gap: 15px;
      }
  
      .box-body-text {
        text-align: left;
        padding-bottom: 20px;
        font-size: 14px;
      }
      .box-extra-text {
        font-family: "Roboto Mono";
        text-align: left;
        font-size: 14px;
      }

    /* .projects3-item:nth-child(6) {
      grid-row-start: span 1;
      grid-column-start: span 1;
      order: 7;
    }
  
    .projects3-item:nth-child(9) {
      grid-row-start: span 1;
      grid-column-start: span 1;
    } */

    h1 {
        font-size: 20px;
        text-align: center;
      }
    
      h2 {
        font-size: 18px;
      }
    
      h3 {
        font-size: 12px;
      }
  }
  
   /* MOBILE + TABLET */

   @media all and (min-width: 500px) and (max-width: 880px) {
    .container {
        margin: 25px 15px;
       }

    .green_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
      }
  
      .box-body-text {
        text-align: left;
        padding-bottom: 30px;
        font-size: 16px;
      }
      .box-extra-text {
        font-family: "Roboto Mono";
        text-align: left;
        font-size: 16px;
      }

    /* .projects3-item:nth-child(6) {
      grid-row-start: span 1;
      grid-column-start: span 1;
      order: 7;
    }
  
    .projects3-item:nth-child(9) {
      grid-row-start: span 1;
      grid-column-start: span 1;
    } */

    h1 {
        font-size: 36px;
      }
    
      h2 {
        font-size: 28px;
      }
    
      h3 {
        font-size: 20px;
      }
  
  
  @media all and (min-width: 880px) and (max-width: 1000px) {
   .container {
    margin: 25px 15px;
   }
   
   .green_box,
   .green_img {
      grid-column: auto/auto;
      grid-row: auto/auto;
    }
  
    h1 {
      font-size: 50px;
    }
  
    h2 {
      font-size: 40px;
    }
  
    h3 {
      font-size: 30px;
    }
  }
  