.container div {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* margin-bottom: 30px; */
}

.container .item01 { height: 700px;  }
.container .item02 { height: 640px;  }
.container .item03 { height: 630px;  }
.container .item04 { height: 640px;  }
.container .item05 { height: 860px;  }
.container .item06 { height: 620px;  }
.container .item07 { height: 720px;  }
.container .item08 { height: 770px;  }
.container .item09 { height: 950px;  }
.container .item10 { height: 490px;  }
.container .item11 { height: auto;  }
.container .item12 { height: auto;  }
.container .item13 { height: auto;  }


