@font-face {
    font-family: 'Montserrat1';
    src: url('/css/Montserrat1.woff2') format('woff2'),
    url('/css/Montserrat1.otf') format('opentype'),
        url('/css/Montserrat1.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Montserrat1', sans-serif;
}

h1.sw-font-family-default,
h2.sw-font-family-default {
font-family: 'Montserrat1', sans-serif;
}

section.sw-font-family-default,
header.sw-font-family-default,
nav.sw-font-family-default,
footer.sw-font-family-default,
div.sw-font-family-default,
span.sw-font-family-default,
small.sw-font-family-default,
pre.sw-font-family-default,
p.sw-font-family-default,
b.sw-font-family-default,
li.sw-font-family-default,
ul.sw-font-family-default,
a.sw-font-family-default,
h3.sw-font-family-default,
h4.sw-font-family-default,
h5.sw-font-family-default,
h6.sw-font-family-default {
font-family: 'Montserrat1', sans-serif;
}

input.sw-font-family-default,
textarea.sw-font-family-default {
font-family: 'Montserrat1', sans-serif;
}

.sw-font-family-default::-webkit-input-placeholder,
.sw-font-family-default::-moz-placeholder,
.sw-font-family-default:-ms-input-placeholder,
.sw-font-family-default:-moz-placeholder {
font-family: 'Montserrat1', sans-serif;
}