@font-face {
    font-family: 'Montserrat1';
    src: url('/css/Montserrat1.woff2') format('woff2'),
    url('/css/Montserrat1.otf') format('opentype'),
        url('/css/Montserrat1.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Montserrat1', sans-serif;
}