/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family:'Montserrat-Light';
    src: url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.otf') format('opentype'),
        url('Montserrat-Light.woff') format('woff'),
        url('Montserrat-Light.svg') format('svg'),
        url('Montserrat-Light.ttf') format('truetype'),
        url('Montserrat-Light.eot') format('embedded opentype')
        ;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Montserrat-Light', sans-serif;
}

h1.sw-font-family-default,
h2.sw-font-family-default {
    font-family: 'Montserrat-Light', sans-serif;
}

section.sw-font-family-default,
header.sw-font-family-default,
nav.sw-font-family-default,
footer.sw-font-family-default,
div.sw-font-family-default,
span.sw-font-family-default,
small.sw-font-family-default,
pre.sw-font-family-default,
p.sw-font-family-default,
b.sw-font-family-default,
li.sw-font-family-default,
ul.sw-font-family-default,
a.sw-font-family-default,
h3.sw-font-family-default,
h4.sw-font-family-default,
h5.sw-font-family-default,
h6.sw-font-family-default {
    font-family: 'Montserrat-Light', sans-serif;
}

input.sw-font-family-default,
textarea.sw-font-family-default {
    font-family: 'Montserrat-Light', sans-serif;
}

.sw-font-family-default::-webkit-input-placeholder,
.sw-font-family-default::-moz-placeholder,
.sw-font-family-default:-ms-input-placeholder,
.sw-font-family-default:-moz-placeholder {
    font-family: 'Montserrat-Light', sans-serif;
}